// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-image: url('onecan.png');
  background-size: 100%;
  background-repeat:no-repeat;
  background-color: brown;

}

#date {
	margin-top: 200px;
}
